### 1. What is Class? 
Classification of real world entity. \
e.g. Car,Animal,Laptop.
    
### 2. What is Object?
Object is a variable of  classes. \
real time representation of a Class.

In [1]:
class car:
    pass

In [2]:
audi=car()

In [3]:
# variable or object of car class
audi

In [4]:
audi.mileage=10
audi.year=2022
audi.make=123
audi.model="city"

In [5]:
audi.mileage

10

In [6]:
nano=car()

In [8]:
nano.mileage=15
nano.year=2021
nano.make=1234
nano.model="CT"
nano.engine_no=1321654875458746

In [31]:
class car1: # self is class variable, its a pointer to itself
    def __init__(a, mileage,year,make,model):# use initialization of data inbuilt function - provide a data to a class
        a.mileage=mileage 
        a.year=year
        a.make=make
        a.model=model
    def  age(self,current_year):
        return current_year - self.year
    def display_mileage(self):
        print(" Mileage is : ",self.mileage)
    
    def __str__(c):
        return "This is a car class, I have created"

In [32]:
nano1=car1(10,2022,354,"asdf")

In [33]:
nano1.age(2025)

3

In [34]:
nano1.display_mileage()

 Mileage is :  10

In [35]:
print(nano1)

This is a car class, I have created

In [92]:
class student:
    
    def __init__(self , name , rollno , joining_date , current_topic):
        self.name = name 
        self.rollno = rollno
        self.joining_date =  joining_date
        self.current_topic = current_topic
        
        
    def name_Parsing(self) :

        if type(self.name) == list:
            for i in self.name :
                print("name of the stuent " , i )
        else : 
            print("provided name is not in a form of list ")
    
        
    def crt_topic(self):
        print("current topic discussed in my class is " , self.current_topic)
        
    def str_rollno(self):
        
        try :
        
            if type(self.rollno) == str:
                print("do nothing ")

            else :
                return str(self.rollno)
        except Exception as e  :
            
            print("this is my erro msg " , e )
        
        
    def duration(self,current_date) :
        
        print("duration of student in my class is " , current_date- self.joining_date)
        
    def __str__(self):
        
        
        return "this is student profile class "

In [93]:
student1 = student("Mehmaam" ,"155", 2022,"OOPS")

In [94]:
student1.crt_topic()

current topic discussed in my class is  OOPS

In [95]:
student1.current_topic

'OOPS'

In [96]:
student1.duration(2022)

duration of student in my class is  0

In [97]:
student1.str_rollno()

do nothing

In [98]:
print(student1)

this is student profile class

In [70]:
pawan = student(["naveen","jay" , "himnashu " , "prakash " ] ,[234,2423,423,34,234], 2021 , "oops" )

In [71]:
pawan.name_Parsing()

name of the stuent  naveen
name of the stuent  jay
name of the stuent  himnashu
name of the stuent  prakash

In [21]:
class test:
    def a(self):
        print("this is test")

In [22]:
class test1:
    def a(self):
        print("this is test1")

In [24]:
class test2(test,test1):
    t=test()
    t.a()
    t1=test1()
    t1.a()
    print("test2")
t2=test()
t2.a()

this is test
this is test1
test2
this is test

In [24]:
import numpy as np

arr = np.arange(6210)
newarr = arr.reshape(-1)
print(newarr)
print('shape arr',arr.shape)
newarr = arr.reshape(1035, 6)
print('shape newarr',newarr.shape)

[   0    1    2 ... 6207 6208 6209]
shape arr (6210,)
shape newarr (1035, 6)

(1035, 6)

In [1]:
class Car:
    pass

In [2]:
obj1=Car()

In [3]:
print(obj1)

<__main__.Car object at 0x0000022CFC513DC0>