In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\syed.mehmaam\anaconda3\lib\site-packages (8.0.30)
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------ 904.1/904.1 kB 204.3 kB/s eta 0:00:00
Installing collected packages: protobuf
Successfully installed protobuf-3.20.1

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016559A055B0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/protobuf/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016559A058E0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/protobuf/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016559A05A90>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/protobuf/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016559A05C40>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/protobuf/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000016559A05DF0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/protobuf/
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
streamlit 1.11.0 requires cachetools>=4.0, which is not installed.
streamlit 1.11.0 requires watchdog; platform_system != "Darwin", which is not installed.

# Make Connection Python to Sql

In [19]:
connection.connect(host='localhost',user='root',passwd='Mehmaam12345',use_pure=True)

In [61]:
import mysql.connector as connection # connect python to sql
try:
    conn=connection.connect(host='localhost',database='Mehmaam',user='root',passwd='Mehmaam12345',use_pure=True) # make connection to database
    query='SHOW DATABASES' #query
    cur=conn.cursor() # work like a pointer index-wise
    cur.execute(query)#execute query
    print(cur.fetchall())#fetch all data
except Exception as e:
    conn.close()
    print(str(e))

[('airbnb',), ('information_schema',), ('mehmaam',), ('mysql',), ('performance_schema',), ('sys',)]

# Create Databases

In [15]:
cur.execute("create database Mehmaam")

# Define Database

In [25]:
connection.connect(host='localhost',database='Mehmaam',user='root',passwd='Mehmaam12345',use_pure=True)

In [26]:
conn.is_connected() # database is connected or not

True

# Create Table

In [21]:
cur.execute('create table test(col1 int(5),col2 varchar(20),col3 date)')

In [22]:
cur.close()

True

In [28]:
cur=conn.cursor()

# insert data

In [52]:
cur.execute("insert into test values(2020,'mehmaam','1998-01-20')")#yyyy-mm-dd

In [53]:
cur.execute("insert into test values(2021,'mehmaam2','1998-12-20')")#yyyy-mm-dd

# Commit data into database

In [54]:
conn.commit()

# Fetch a data from database

In [62]:
cur1=conn.cursor()

In [63]:
cur1.execute("select * from test")

In [64]:
cur1.fetchall()

[(2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2021, 'mehmaam2', datetime.date(1998, 12, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2021, 'mehmaam2', datetime.date(1998, 12, 20)),
 (2020, 'mehmaam', datetime.date(1998, 1, 20)),
 (2021, 'mehmaam2', datetime.date(1998, 12, 20))]

# Tabular format with Pandas

In [65]:
import pandas as pd

## Read Data

In [67]:
a=pd.read_sql("select * from Mehmaam.test",conn)

C:\Users\syed.mehmaam\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [68]:
a

    col1      col2        col3
0   2020   mehmaam  1998-01-20
1   2021  mehmaam2  1998-12-20
2   2020   mehmaam  1998-01-20
3   2020   mehmaam  1998-01-20
4   2020   mehmaam  1998-01-20
5   2020   mehmaam  1998-01-20
6   2020   mehmaam  1998-01-20
7   2020   mehmaam  1998-01-20
8   2020   mehmaam  1998-01-20
9   2020   mehmaam  1998-01-20
10  2020   mehmaam  1998-01-20
11  2020   mehmaam  1998-01-20
12  2020   mehmaam  1998-01-20
13  2020   mehmaam  1998-01-20
14  2020   mehmaam  1998-01-20
15  2021  mehmaam2  1998-12-20
16  2020   mehmaam  1998-01-20
17  2021  mehmaam2  1998-12-20

In [69]:
a.to_csv("sql_data.csv")

In [70]:
cur=conn.cursor()

In [71]:
data=pd.read_csv("sql_data.csv")

In [77]:
data.to_sql('test',conn)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement